<body>
  <% @blog_posts.each do |blog_post| %>
    <div class="blog_post">
    <p class="blog_post_title"><%= blog_post.title %></p>  
    <small>
      Created by <%= blog_post.author %> on 
      <%= blog_post.created_at.day %>/<%= blog_post.created_at.month %>/<%= blog_post.created_at.year %>
    </small>
    <p><%= blog_post.content %></p>
    </div>
  <% end %>
</body>
