<div class="blog_post">
  <p class="blog_post_title"><%= @b.title %></p>  
  <small>
    Created by <%= @b.author %> on 
    <%= @b.created_at.day %>/<%= @b.created_at.month %>/<%= @b.created_at.year %>. 
  </small>
  <small>
    <% if @b.created_at != @b.updated_at %>
      Updated on <%= @b.updated_at.day %>/<%= @b.updated_at.month %>/<%= @b.updated_at.year %>.
    <% end %>
  </small>
  <p><%= @b.content %></p>
</div>

<h3>Comments (<%= @b.comments.length %>)</h3>
<% unless @b.comments.empty? %>
  <div class="comments">
    <ul>
      <% @b.comments.each do |comment| %>
	<li><p>On <%= comment.created_at.day %>/<%= comment.created_at.month %>/<%= comment.created_at.year %>, <%= comment.author %> wrote:</p>
	<p><%= comment.content %></p></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>Leave a comment!</h3>
<form action="/blog/leave_comment/<%= @b.id %>" method="post">
  <div>
    <label for="author">Your name:</label>
    <input type="text" name="author">
  </div>

  <div>
    <label for="content">Your comment:<span id="needed">*</span></label>
    <textarea name="content" required></textarea>
  </div>

  <input type="submit" value="Leave your comment!">
</form>
