<div class="blog_post">
  <p class="blog_post_title"><%= @b.title %></p>  
  <small>
    Created by <%= @b.author %> on 
    <%= @b.created_at.day %>/<%= @b.created_at.month %>/<%= @b.created_at.year %>
  </small>
  <p><%= @b.content %></p>
</div>
